.hBox{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
}

.avartar{
    -fx-background-image:url(../Img/avatar.png);
    -fx-background-size: cover;
    -fx-background-radius: 10px;
}
