.root {
    -fx-background-image:url('../Img/background-login.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.login-btn{
    -fx-background-color: #123c69;
    -fx-cusor: pointer;
    -fx-text-fill : #FFF;
}

